<%inherit file="base.html"/>

<%block name="content">

<div id="article_container" class="container" style="display: none; z-index: 1; position:fixed; top: 100px; left: 500px">
    <div class="row">
        <div class="span6 hero-unit" style="background-color: #fbfbfb">
            <p>
                Demesne far hearted suppose venture excited see had has. Dependent on so extremely delivered by. Yet no jokes worse her why. Bed one supposing breakfast day fulfilled off depending questions. Whatever boy her exertion his extended. Ecstatic followed handsome drawings entirely mrs one yet outweigh. Of acceptance insipidity remarkably is invitation.
            </p>
        </div>
    </div>
</div>


<div class="container" style="z-index: 10">
    <div class="row">
        <div id="stream_container" class="span7 offset2 stream_large">

        </div>
    </div>
</div>

</%block>