<%inherit file="base.html"/>

<%block name="content">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="#typography">Typography</a></li>
                <li><a href="#code">Code</a></li>
                <li><a href="#tables">Tables</a></li>
                <li><a href="#forms">Forms</a></li>
                <li><a href="#buttons">Buttons</a></li>
                <li><a href="#images">Images</a></li>
                <li><a href="#icons">Icons by Glyphicons</a></li>
            </ul>
        </div>
        <div class="span8">
            <div class="btn-group">
                <a class="btn" href="#"><i class="icon-chevron-left"></i> previous</a>
                <a class="btn" href="#"><i class="icon-heart"></i> like</a>
                <a class="btn" href="#"><i class="icon-trash"></i> hate</a>
                <a class="btn" href="#">next <i class="icon-chevron-right"></i></a>
            </div>
            <div class="well">
                <p>test</p>
            </div>
        </div>
    </div>
</div>
</%block>