<html>
<head>
  <title>nuus</title>
  <%= stylesheet_link_tag    "application" %>
  <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
  <%= javascript_include_tag    "application" %>
</head>
<body>
<div id="page">
  <div id="headerContainer">
    <div id="header"><%=  image_tag "nuus.png", :height => "50" %></div>
  <div id="contentContainer">
    <div id="content">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>