/web/nbproject/private/
*.pyc
*/.idea
.idea
nuus.pem
/feedcollector/language_detection.dict
/feedcollector/language_detection.words
/feedcollector/log/*.*
/feedcollector/.idea
/articlemapper/.idea
