<div id="streamContent">
  <div id="article">
    <h1>Banken sollten ihre Rechtsstreitigkeiten selbst lösen</h1>
    Herr Schweizer, wird die Schweiz in den Steuerverhandlungen mit den USA Schiffbruch erleiden?<br/>
    Wir können im Augenblick noch nicht sagen, ob die Verhandlungen mit den Vereinigten Staaten zum Scheitern verurteilt sind. Wenn man einen Informationsaustausch will, der über das bestehende Doppelbesteuerungsabkommen hinausgeht, braucht es auf jeden Fall eine Vereinbarung. Eine solche ist seit Sommer 2011 konzipiert.<br/>
    <br/>
    Inwiefern beruht sie auf einem Konsens mit den USA?<br/>
    Die entsprechenden Schritte des Finanzparlaments sind schon erfolgt. Man hat ja sogar schon eine Gruppenanfrage der USA bei der Credit Suisse zugelassen, noch bevor der Staatsvertrag verändert wurde. Die Aufforderung an die Banken, Kunden- und Mitarbeiterdaten zu liefern, versteht sich nur aus diesem Konzept heraus, das letztes Jahr mit den Amerikanern in groben Zügen entworfen wurde.<br/>

  </div>
</div>
<div id="stream">
  <div class="streamArticle">
    Banken sollten ihre Rechtsstreitigkeiten selbst lösen
  </div>
  <div class="streamArticle">
    10 Jahre Rechtstreit wegen neuer Nachbarn
  </div>
  <div class="streamArticle">
    Der erhoffte Befreiungsschlag
  </div>
  <div class="streamArticle">
    Mann verletzt sich bei Hausbrand schwer
  </div>
</div>