<h1>Listing Feeds</h1>
 
<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
  </tr>
 
<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.Url %></td>
    <td><%= feed.Title %></td>
  </tr>
<% end %>
</table>