<%= javascript_include_tag "streams" %>

<div id="streamContent">
  <div id="article">
    ...
  </div>
</div>
<div id="stream">
  <div class="streamArticle">
    keine Artikel vorhanden
  </div>
</div>